<%- include('partials/navbar') %>

    <br>
    <br>
    <h1>Hello <%=user.username%> </h1>
    <div class="center">
        <form class="form-horizontal" method="POST" action="/account/updateUser">
            <fieldset>

                <!-- Form Name -->
                <legend>Update Account</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstname">First Name</label>
                    <div class="col-md-4">
                        <input id="firstname" name="firstname" type="text" placeholder="First Name"
                            class="form-control input-md" value="<%=user.firstname%>">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastname">Last Name</label>
                    <div class="col-md-4">
                        <input id="lastname" name="lastname" type="text" placeholder="Last Name"
                            class="form-control input-md" value="<%=user.lastname%>">

                    </div>
                </div>

                <!-- Multiple Radios -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="gender">Gender</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label for="gender-0">

                                <input type="radio" name="gender" id="gender-0" value="Male"
                                    <%= user.gender=="Male" ? 'checked' : '' %>>
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label for="gender-1">
                                <input type="radio" name="gender" id="gender-1" value="Female"
                                    <%= user.gender=="Female" ? 'checked' : '' %>>
                                Female
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="age">Age</label>
                    <div class="col-md-4">
                        <input id="age" name="age" type="text" placeholder="Age" class="form-control input-md"
                            value="<%=user.age%>">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="email" placeholder="email" class="form-control input-md"
                            required="" value="<%=user.email%>">

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-success submit">Update</button>
                    </div>
                </div>



            </fieldset>
        </form>
    </div>

<%- include('partials/footer') %>