<%- include('partials/navbar') %>

    <br>
    <br>
    <h1>Edit new course</h1>
    <div class="center">
    <form class="form-horizontal" method="POST" action="/main/updatecourse/<%= product._id %>">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Add new</legend>
        

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Title</label>  
          <div class="col-md-4">
          <input id="title" name="title" type="text" placeholder="placeholder" class="form-control input-md" value="<%= product.title %>">
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Description</label>  
          <div class="col-md-4">
          <input id="description" name="description" type="text" placeholder="placeholder" class="form-control input-md"  value="<%= product.description %>">
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Price</label>  
          <div class="col-md-4">
          <input id="price" name="price" type="text" placeholder="placeholder" class="form-control input-md"  value="<%= product.price %>">
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Instructor</label>  
          <div class="col-md-4">
          <input id="instructor" name="instructor" type="text" placeholder="placeholder" class="form-control input-md"  value="<%= product.instructor %>">
          </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
          <div class="col-md-4">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Update Course</button>
          </div>
        </div>
        
        </fieldset>
        </form>

        
        </div>

<%- include('partials/footer') %>
