<%- include('partials/navbaruser') %>

<br>
<br>
<h1>Hello <%=user.username%></h1>
<style>
    .row>div[class*='col-'] {
        display: flex;
        flex: 1 0 auto;
    }
</style>
<div class="container-fluid">
    <div style="text-align: center">
        
        <h1>My Course List</h1>
        <br>
    </div>
    <style>
        .card-deck {
            width: 100%;
        }

        .card-deck .card {
            width: initial;
        }



        .card {
            max-width: 17vw;
            max-height: 30vw;
            object-fit: cover;
        }
    </style>
    <div class="card-deck" style="text-align: center">
        <% mycourses.forEach(function(course){ %>
            <% course.products.forEach(function(product){ %>
            <div class="card mb-4 " style="min-width: 18rem;">
                <img class="card-img-top" src="images/<%= product.item.image %>" alt="<%= product.image %>">
                <div class="card-body">
                    <h5 class="card-title">Title: <%= product.item.title %></h5>
                    <p class="card-text">Description: <%= product.item.description %></p>
                    <p class="card-text">
                    </p>
                    <br>
                    
                </div>
            </div>
            <% }); %>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>